@import "tailwindcss";

@theme {
  --color-theme-strong-cyan: hsl(172, 67%, 45%);
  --color-theme-very-dark-cyan: hsl(183, 100%, 15%);
  --color-theme-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-theme-bath-green: hsl(183, 80%, 24%);
  --color-theme-grayish-cyan: hsl(184, 14%, 56%);
  --color-theme-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-theme-light-grayish-cyan-hover: hsl(173, 61%, 77%);
  --color-theme-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --color-theme-white: hsl(0, 0%, 100%);

  --font-spacemono: "Space Mono", sans-serif;
}
