@import "tailwindcss";

@theme {
  /* Primary */
  --color-theme-strong-cyan: hsl(172, 67%, 45%);
  /* Neutral */
  --color-theme-very-dark-cyan: hsl(183, 100%, 15%);
  --color-theme-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-theme-bath-green: hsl(183, 80%, 24%);
  --color-theme-grayish-cyan: hsl(184, 14%, 56%);
  --color-theme-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-theme-light-grayish-cyan-hover: hsl(173, 61%, 77%);
  --color-theme-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --color-theme-white: hsl(0, 0%, 100%);

  --font-spacemono: "Space Mono", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: "Space Mono";
  font-style: "normal";
  font-weight: 700;
  src: url("/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-display: swap;
}
