---
import MainLayout from "@/layouts/MainLayout.astro";

import Bill from "@/components/Bill.vue";
import Result from "@/components/Result.vue";

import Image from "astro/components/Image.astro";
import logo from "@/assets/logo.svg";
---

<MainLayout title="Frontend Mentor | Tip Calculator">
  <main class="mt-36 flex h-screen flex-col items-center justify-center sm:px-10 lg:mt-0">
    <Image src={logo} alt="Splitter Tip Calculator" class="my-10 lg:mb-18" loading="eager" />
    <div
      class="bg-theme-white flex w-full flex-col rounded-3xl shadow-xl lg:h-[480px] lg:max-w-[920px] lg:flex-row"
    >
      <Bill client:load class="lg:w-1/2" />
      <Result client:load class="lg:w-1/2" />
    </div>
  </main>
</MainLayout>
