---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Frontend Mentor | Tip Calculator">
  <main class="flex h-screen flex-col items-center justify-center">
    <h1 class="tracking-widest uppercase">Splitter</h1>
    <div
      class="bg-theme-white h-[480px] w-full max-w-[920px] rounded-3xl shadow-xl"
    >
    </div>
  </main>
</MainLayout>
