---
import MainLayout from "@/layouts/MainLayout.astro";

import Bill from "@/components/Bill.vue";
import Result from "@/components/Result.vue";

import Image from "astro/components/Image.astro";
import logo from "@/assets/logo.svg";
---

<MainLayout
  title="Frontend Mentor | Tip Calculator"
  description="A tip calculator application challenge from Frontend Mentor."
>
  <main class="mt-13 flex flex-col items-center justify-center sm:px-10 lg:mt-41">
    <Image
      src={logo}
      alt="Splitter Tip Calculator Application"
      class="mb-10 lg:mb-20"
      loading="eager"
    />
    <div
      class="flex w-full flex-col rounded-3xl rounded-b-none bg-theme-white pb-8 shadow-xl lg:h-120 lg:max-w-230 lg:flex-row lg:rounded-b-3xl lg:pb-0"
    >
      <Bill client:load class="lg:w-1/2" />
      <Result client:load class="lg:w-1/2" />
    </div>
  </main>
</MainLayout>
