---
import MainLayout from "@/layouts/MainLayout.astro";

import Bill from "@/components/Bill.astro";

import Image from "astro/components/Image.astro";
import logo from "@/assets/logo.svg";
---

<MainLayout title="Frontend Mentor | Tip Calculator">
  <main class="flex h-screen flex-col items-center justify-center px-10">
    <Image
      src={logo}
      alt="Splitter Tip Calculator logo"
      class="mb-18"
      loading="eager"
    />
    <div
      class="bg-theme-white flex h-[480px] w-full max-w-[920px] flex-row rounded-3xl shadow-xl"
    >
      <Bill />
      <div class="bg-theme-very-dark-cyan my-10 mr-10 w-1/2 rounded-2xl"></div>
    </div>
  </main>
</MainLayout>
