---
import TipSelector from "./TipSelector.vue";

import Image from "astro/components/Image.astro";
import dollar from "@/assets/icon-dollar.svg";
import person from "@/assets/icon-person.svg";
---

<form class="flex h-full flex-col justify-between p-12">
  <div class="relative mb-6 flex flex-col">
    <label for="bill" class="text-theme-dark-grayish-cyan mb-2">Bill</label>
    <input
      id="bill"
      type="text"
      name="bill"
      class="bg-theme-very-light-grayish-cyan placeholder:text-theme-dark-grayish-cyan/50 focus:outline-theme-strong-cyan caret-theme-strong-cyan py-2 pr-4 pl-10 text-right text-[25px] placeholder:mr-1"
      maxlength="6"
      placeholder="0"
    />
    <Image
      src={dollar}
      alt="Dolar sign"
      loading="eager"
      class="absolute top-12.5 left-4"
    />
  </div>
  <TipSelector client:load />
  <div class="relative mb-4 flex flex-col">
    <label for="people" class="text-theme-dark-grayish-cyan mb-2"
      >Number of People</label
    >
    <input
      id="people"
      type="text"
      name="people"
      class="bg-theme-very-light-grayish-cyan placeholder:text-theme-dark-grayish-cyan/50 focus:outline-theme-strong-cyan caret-theme-strong-cyan py-2 pr-4 pl-10 text-right text-[25px] placeholder:mr-1"
      maxlength="3"
      placeholder="0"
    />
    <Image
      src={person}
      alt="Dinner party members"
      loading="eager"
      class="absolute top-12.5 left-4"
    />
  </div>
</form>

<!-- <script>
  const resetRadioButtons = () => {
    document
      .querySelectorAll("#tip-selector label")
      .forEach((label: Element) => {
        label.classList.remove(
          "bg-theme-strong-cyan/40",
          "text-theme-very-dark-cyan",
        );
        label.classList.add("bg-theme-very-dark-cyan", "text-theme-white");
      });
  };

  document.querySelectorAll('input[type="radio"]').forEach((radio: Element) => {
    radio.addEventListener("change", function (this: HTMLInputElement) {
      resetRadioButtons();
      (this.nextElementSibling as HTMLElement).classList.add(
        "bg-theme-strong-cyan/40",
        "text-theme-very-dark-cyan",
      );
      (this.nextElementSibling as HTMLElement).classList.remove(
        "bg-theme-very-dark-cyan",
        "text-theme-white",
      );
    });
  });

  document.getElementById("custom")?.addEventListener("focus", () => {
    resetRadioButtons();
  });
</script> -->
