---
import Image from "astro/components/Image.astro";

import dollar from "@/assets/icon-dollar.svg";
import person from "@/assets/icon-person.svg";
---

<form action="" class="flex h-full w-1/2 flex-col justify-between p-12">
  <div class="relative mb-6 flex flex-col">
    <label for="bill" class="text-theme-dark-grayish-cyan mb-2">Bill</label>
    <input
      type="text"
      name="bill"
      class="bg-theme-very-light-grayish-cyan placeholder:text-theme-dark-grayish-cyan/50 py-2 pr-4 pl-10 text-right text-2xl"
      placeholder="0"
    />
    <Image
      src={dollar}
      alt="Dolar sign"
      loading="eager"
      class="absolute top-12 left-4"
    />
  </div>
  <div class="mb-6 flex flex-col">
    <p class="text-theme-dark-grayish-cyan mb-4">Select Tip %</p>
    <div class="grid grid-cols-3 gap-4" id="tip-selector">
      <input type="radio" id="t-5" name="tip" value="5" class="hidden" />
      <label
        for="t-5"
        class="bg-theme-very-dark-cyan text-theme-white rounded p-2 text-center text-2xl hover:cursor-pointer"
        >5%</label
      >
      <input type="radio" id="t-10" name="tip" value="10" class="hidden" />
      <label
        for="t-10"
        class="bg-theme-very-dark-cyan text-theme-white rounded p-2 text-center text-2xl hover:cursor-pointer"
        >10%</label
      >
      <input type="radio" id="t-15" name="tip" value="15" class="hidden" />
      <label
        for="t-15"
        class="bg-theme-very-dark-cyan text-theme-white rounded p-2 text-center text-2xl hover:cursor-pointer"
        >15%</label
      >
      <input type="radio" id="t-25" name="tip" value="25" class="hidden" />
      <label
        for="t-25"
        class="bg-theme-very-dark-cyan text-theme-white rounded p-2 text-center text-2xl hover:cursor-pointer"
        >25%</label
      >
      <input type="radio" id="t-50" name="tip" value="50" class="hidden" />
      <label
        for="t-50"
        class="bg-theme-very-dark-cyan text-theme-white rounded p-2 text-center text-2xl hover:cursor-pointer"
        >50%</label
      >
      <input
        type="text"
        placeholder="Custom"
        id="custom"
        class="bg-theme-very-dark-cyan text-theme-white placeholder:text-theme-white focus:bg-theme-very-light-grayish-cyan focus:text-theme-very-dark-cyan rounded p-2 text-center text-2xl hover:cursor-pointer focus:text-right focus:placeholder:opacity-0"
      />
    </div>
  </div>
  <div class="relative mb-4 flex flex-col">
    <label for="people" class="text-theme-dark-grayish-cyan mb-2"
      >Number of People</label
    >
    <input
      type="text"
      name="people"
      class="bg-theme-very-light-grayish-cyan placeholder:text-theme-dark-grayish-cyan/50 py-2 pr-4 pl-10 text-right text-2xl"
      placeholder="0"
    />
    <Image
      src={person}
      alt="Dinner party members"
      loading="eager"
      class="absolute top-12 left-4"
    />
  </div>
</form>

<script>
  const resetRadioButtons = () => {
    document
      .querySelectorAll("#tip-selector label")
      .forEach((label: Element) => {
        label.classList.remove(
          "bg-theme-strong-cyan/40",
          "text-theme-very-dark-cyan",
        );
        label.classList.add("bg-theme-very-dark-cyan", "text-theme-white");
      });
  };

  document.querySelectorAll('input[type="radio"]').forEach((radio: Element) => {
    radio.addEventListener("change", function (this: HTMLInputElement) {
      resetRadioButtons();
      (this.nextElementSibling as HTMLElement).classList.add(
        "bg-theme-strong-cyan/40",
        "text-theme-very-dark-cyan",
      );
      (this.nextElementSibling as HTMLElement).classList.remove(
        "bg-theme-very-dark-cyan",
        "text-theme-white",
      );
    });
  });

  document.getElementById("custom")?.addEventListener("focus", () => {
    resetRadioButtons();
  });
</script>
